@import "lib/colors";
@import "lib/dimensions";
@import "lib/typografic";

.itemsNavSelected {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: $color-primary-dark;
    background: $color-primary-text;
    color: $color-primary-dark;
    margin-left: 5px;
}

.itemsNavSelected svg {
    color: $color-primary-dark;
}

.itemsNav {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: $color-primary-dark;
    background: $color-primary-light;
    color: $color-primary-text;
    margin-left: 5px;
}

.itemsNav svg {
    color: $color-primary-text;
}