@import "lib/colors";
@import "lib/dimensions";
@import "lib/typografic";


.mainContent{
    margin-bottom: 25px;
}

.footerContent{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $color-primary-dark;
    height: 5vh;
    color: $color-primary-text;
    display: flex;
    justify-content: center;
    align-items: center;
}