@import "lib/colors";
@import "lib/dimensions";
@import "lib/typografic";

.mainContent{
    top: 0;
    width: 100%;
    margin-top: 65px;
    margin-bottom: 50px;
}

.container {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: outset;
}

.questionLabel {
    padding-left: 35px;
}

.questionContainerOptions {
    padding-left: 35px;
}

.containerRadioButton {
    margin-left: 650px;
}

.containerItems {
    width: 100%;
    height: auto;
    padding-left: auto;
}

.items {
    margin:auto;
    padding:auto;
}

.radioItems {
}